<div class="container">
  <div class="container_logo">
    <img class="container_logo_Img" src="../../assets/Header_Logo.png" alt="StartChat Logo">
    <div class="container_text">
      <p class="container_main_text">WhatsApp to people</p>
      <p class="container_secound_text">without adding them</p>
    </div>
    <div class="container_text_content">
    <p>simple way to start Whatsapp conversation with people  without adding them to your contact list.</p>
    <p>save for later time things like websites linkes, news, remindings and etc. by sending them to your phone number.</p>
    </div>
  </div>


</div>
