.container_contant{
  background-image: url(../../assets/images/bottom-image.png);
  min-height: 890px;
  margin-top: 162px;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_btn_google{
  pointer-events: fill;
  width: 220px;
  margin-top: 2px;
  margin-left: 30px;
}

.container_btn{
  height: 70px;
  width: 280px;
  margin-top: 15px;
  border-radius: 50px;
  background-color: black;
}

.text{
  margin-top: 239px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    color: #00a404;
}

.logo{
  margin-top: 206px;
  margin-bottom: -11px;
  width: 1900px;
}
