
<div class="container">
  <div class="container_contant">
      <div class="text">
        <p>Download <b>App</b></p>
        <div class="container_btn">
          <a class="container_btn_a" href="https://google.com">
          <img class="container_btn_google" src="assets/images/google-play-badge.png" alt="google play">
          </a>
      </div>
      <div class="bottom_logo">
        <img class="logo" src="assets/images/bootom_startchatlogo.png" alt="">
      </div>
    </div>
  </div>
</div>
