<div class="container">
  <div class="container_header">
    <h1 class="container_header_text">How It <b>Work?</b></h1>
  </div>
  <div class="container_phones">
    <div class="phone_3">
        <img class="number3" src="assets/images/1.png" alt="">
        <img src="assets/images/phone3.png" alt="">
        <div class="copy">
          <p class="workheader">copy</p>
          <p>phone number</p>
        </div>
    </div>
    <div class="phone_3">
      <img class="number3" src="assets/images/2.png" alt="">
      <img src="assets/images/phone2.png" alt="">
      <div class="paste">
        <p class="workheader">Paste | Write</p>
        <p>the phone number</p>
      </div>
    </div>
    <div class="phone_3">
      <img class="number3" src="assets/images/3.png" alt="">
      <img src="assets/images/phone1.png" alt="">
      <div class="start">
        <p class="workheader">Start</p>
        <p>WhatsApp conversation</p>
      </div>
    </div>
  </div>
</div>
